---
title: Notes
---

<p>Christian's collection of long-form notes on books, conferences, courses, and films.</p>

<h2>Book Notes</h2>

<ul>
<%
posts.filter(({webpath}) => webpath.includes("/books")).forEach(post => { %>
  <li><a href="<%= post.webpath %>"><%- post.title %></a><%- post.excerpt ? ": " + post.excerpt : "" %></li>

<% }) %>
</ul>

<h2>Conference and Course Notes</h2>

<ul>
<%
posts.filter(({webpath}) => webpath.includes("/notes")).forEach(post => { %>
  <li><a href="<%= post.webpath %>"><%- post.title %></a><%- post.excerpt ? ": " + post.excerpt : "" %></li>

<% }) %>
</ul>
